@*@model IEnumerable<Donations_Software.Models.DonationUserInfo>*@
@model Donations_Software.Models.DonationUserInfo
@*@model List<Donations_Software.Models.DonationUserInfo>*@


@{
    ViewBag.Title = "Gifts";
}


@using (Html.BeginForm("GiftSave", "DonationUserInfoes", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Gifts</h4>
        <hr />
        <h4>
        </h4>
        @{
            var i = 0;
        }

        @foreach (var item in ViewData["Donations"] as IEnumerable<Donations_Software.Models.DonationDetail>)
        {
            item.Price = 0;
            <div class="form-group">
                <div class="col-md-2">
                    @Html.DisplayFor(model => item.DonationName)

                </div>
                <div class="col-md-10">
                    @Html.Editor("AmountList["+i+"]", new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.ValidationMessageFor(model => item.Price, "", new { @class = "text-danger" })*@

                </div>

                <div hidden>
                    Donation ID
                    <div>
                        @Html.Editor("DonationIDList["+i+"]", new { htmlAttributes = new { Value = @item.DonationID } })
                    </div>
                </div>
            </div>
            i++;
        }
        @{

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Continue" class="btn btn-default" />
                    <input type="button" value="Cancel" onclick="window.location.href('@Url.Action("Index","DonationDetails")')" class="btn btn-default" />
                </div>
            </div>

        }

    </div>
}

@{
    if (Session["isAdmin"].ToString() == "True")
    {
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
