<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Team Donations</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (Session["UserID"] != null)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @if (Session["isAdmin"].ToString() == "True")
                    {
                        @Html.ActionLink("Welcome! " + Session["FullName"], "Login", "Home", new { area = "" }, new { @class = "navbar-brand" });


                        @Html.ActionLink("Users", "Index", "Users", new { area = "" }, new { @class = "navbar-brand" });
                        @Html.ActionLink("Posted Donations", "Index", "DonationDetails", new { area = "" }, new { @class = "navbar-brand" });
                        @Html.ActionLink("User Donations", "Index", "DonationUserInfoes", new { area = "" }, new { @class = "navbar-brand" });
                        @Html.ActionLink("Logout", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" });
                    }
                    else
                    {
                        @Html.ActionLink("Welcome! " + Session["FullName"], "Login", "Home", new { area = "" }, new { @class = "navbar-brand" });

                        @Html.ActionLink("Logout", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" });
                    }


                    @*@Html.ActionLink(", "Index", "Home",
        new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
              
            </div>
        </div>
    }
    else
    {
        @Html.Partial("_Login")
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Team Donations</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
