<!DOCTYPE html>
<style>
h1 { font-family: fantasy }
</style>


    @model IEnumerable<Donations_Software.Models.DonationDetail>

    @{
        ViewBag.Title = "Index";
    }
    <h1>Charities</h1>

    @{
        if (Session["isAdmin"].ToString() == "True")
        {
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        }
    }

    <center style="font-family:verdana; font-size:50px"><b>Donations</b></center>

    <table class="table" align="center">
        @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.ImageURL)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DonationName)
                </th>

                <th>
                        @Html.DisplayNameFor(model => model.Description)
                </th>

                <th >
                    @Html.DisplayNameFor(model => model.Price)
                </th>

                <th hidden>
                    @Html.DisplayNameFor(model => model.isMonthly)
                </th>
                <th></th>
            </tr>*@

        @foreach (var item in Model)
        {
        <tr>
            <td>
                <center>
                    @{
                        Session["DonationID"] = item.DonationID;
                        Session["Price"] = item.Price;
                    }
                    @{
                        if (item.ImageURL != null)
                        {
                            <a href="@Url.Action("Create", "PersonalInfoes" ,item)">
                                <img src="@Url.Content(item.ImageURL)" alt="Image" height="200" width="300" />
                            </a>

                        }

                    }
                    <br>
                        <b style="font-family:verdana; font-size:20px">
                            @Html.DisplayFor(modelItem => item.DonationName)

                            Raising $:@Html.DisplayFor(modelItem => item.Price)
                        </b>
                    <br>
                    
                        @Html.DisplayFor(modelItem => item.Description)

                        @{
                            if (Session["isAdmin"].ToString() == "True")
                            {
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.DonationID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.DonationID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.DonationID })
                                </td>
                            }
                        }
                </center>

                        @*</td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.DonationName)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        $:@Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.isMonthly)
                    </td>
                    @{
                        if (Session["isAdmin"].ToString() == "True")
                        {
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.DonationID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.DonationID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.DonationID })
                            </td>
                        }
                    }*@

                    </tr>
        }

    </table>
