@model IEnumerable<Donations_Software.Models.DonationUserInfo>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.DonationDetail.DonationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalInfo.FirstName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonationDetail.DonationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalInfo.FirstName)
            </td>
            
        </tr>
    }
    <tr>
        <td align="right">
            Total: $
        </td>
        <td>
            @ViewData["total"];
        </td>
        <td>
            <input type="button" value="Continue" onclick="window.location.href('@Url.Action("ModalPopUp")')" class="btn btn-default" />
        </td>
    </tr>


</table>

